<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Main page</title>
</head>
<body class="bg">
<div class="d-flex flex-column flex-md-row justify-content-end p-3 px-md-4 mb-3">
    <a class="btn btn-dark btn-head" href="/login" sec:authorize="!isAuthenticated()">Log in</a>
    <a class="btn btn-dark btn-head" href="/registration" sec:authorize="!isAuthenticated()">Sign up</a>
    <a class="btn btn-dark btn-head" href="/profile" sec:authorize="isAuthenticated()" th:text="${username}"/>
    <a class="btn btn-dark btn-head" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
    <a class="btn btn-dark btn-head" href="/logout" sec:authorize="isAuthenticated()">Log out</a>
    <a class="btn btn-dark btn-head" href="/">Main</a>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-container">
                <h1 style="text-align: center">All the movies</h1>
                <div th:each="movie: ${allMoviesList}" class="alert-dark">
                    <a th:text="${movie.title}" th:href="'/allMovies/' + ${movie.title}" style="font-size: large"/>
                    <p th:text="'Year: ' + ${movie.year}"/>
                    <p th:text="'Rating: ' + ${movie.rating}"/>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
    </div>


</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>